
.xl-site-tag-icon[data-xl-site-tag-icon=lang_jp] {
    background-image: url('#{data:../../images/extensions/mangadex/jp.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=lang_cn] {
    background-image: url('#{data:../../images/extensions/mangadex/cn.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=lang_kr] {
    background-image: url('#{data:../../images/extensions/mangadex/kr.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=lang_hk] {
    background-image: url('#{data:../../images/extensions/mangadex/hk.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=lang_id] {
    background-image: url('#{data:../../images/extensions/mangadex/id.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=lang_th] {
    background-image: url('#{data:../../images/extensions/mangadex/th.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=site_DS] {
    background-image: url('#{data:../../images/extensions/mangadex/DS.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=site_MD] {
    background-image: url('#{data:../../images/extensions/mangadex/MD.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=site_CK] {
    background-image: url('#{data:../../images/extensions/mangadex/CK.png}#');
}

.xl-site-tag-icon[data-xl-site-tag-icon=site_BT] {
    background-image: url('#{data:../../images/extensions/mangadex/BT.png}#');
}